{
  "policy_id": 1,
  "idx": 1,
  "optimizer_config": {
    "lr": 0.001,
    "optimizer": "Adam"
  },
  "training_params": {
    "batch_size": 64,
    "gamma": 0.99,
    "learning_rate": 0.0003
  },
  "observation_shape": 10,
  "action_shape": 5,
  "description": "A2C",
  "created_at": "2025-03-10T08:30:00"
}